@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Angkor|Nokora|Preahvihear" rel="stylesheet">
    <style>
        .container { margin: auto auto; }

        h1, h2, h3, h4, h5, h6 { font-family: 'Preahvihear', cursive; }

        body {
            background-image: url("http://www.freepptbackgrounds.net/wp-content/uploads/2016/06/Papers-on-Purple-PPT-Backgrounds.jpg");
            background-size: cover;
            height: 100%;
        }

        html { height: 100%; }

        .btn-info, .btn-info:hover {
            color: #FFF;
            background-color: #9400d3;
            border-color: #9400d3;
        }
       
    </style>
</head>
<body>

<div class="container" style="height: 100%;">
    <div class="text-center ">
        <h1>សូមស្វាគមន៍មកកាន់ KhMedium</h1>
        <br/>
        <h3>កន្លែងដែលពង្រីកចំណេះដឹងរបស់អ្នក</h3>
        <br/>
        @Html.ActionLink("ចាប់ផ្តើម", "SelectTopics", new {}, new {@class = "btn btn-info"})
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
</body>
</html>