@model KhMedium.Models.SelectedTopicViewModel
@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .topic {
        border-radius: 4px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 90px
    }

    .topic-name {
        border-radius: 4px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        color: white;
        vertical-align: middle;
        line-height: 90px;
    }
    .btn-info, .btn-info:hover {
        color: #FFF;
        background-color: #9400d3;
        border-color: #9400d3;
    }
</style>

<br/>
@using (Html.BeginForm("SelectTopics", "Start", FormMethod.Post))
{
    <div class="container">
        <div class="row">
            <h3 id="title" class="col-md-10">
                ជ្រើសរើសប្រធានបទទាំងអស់ដែលអ្នកចាប់អារម្មណ៍ក្នុងការអាន
            </h3>
            <div class="col-md-2 pull-right">
                <input type="submit" id = "btn-start" class = "btn btn-info" name="save" value="ចាប់ផ្ដើមអាន" />
            </div>
        </div>
        <div class="row">
            @foreach (var topic in Model.Topics)
            {
                <div class="col-md-2 col-sm-3 col-xs-4 text-center" style="padding: 2px;">
                    <div class="topic" style="background-image: url(@topic.Cover);">
                        <label class="topic-name" data-value="@topic.Id">@topic.Name</label>
                    </div>
                </div>
            }
        </div>
    </div>

    <div id="selectedTopics">
        @for (var i = 0; i < Model.SelectedTopics.Count; i++)
        {
            @Html.HiddenFor(model => model.SelectedTopics[i]);
        }
    </div>
}

@Scripts.Render("~/bundles/jquery")
<script>
    $(function() {
        $('#btn-start').hide();
        var selectedTopics = [];

        $('.topic-name').on('click', toggleTopic);

        function toggleTopic(e) {
            var topic = $(this).data('value');
            if (selectedTopics.indexOf(topic) < 0) {
                $(this).css('background-color', 'rgba(148, 0, 211, 0.5)');
                selectedTopics.push(topic);
            } else {
                $(this).css('background-color', 'rgba(0,0,0, 0.8)');
                selectedTopics.splice(selectedTopics.indexOf(topic), 1);
            }

            if (selectedTopics.length > 4) {
                $('#btn-start').show();
                $('#title').html("ល្អណាស់! យើងនឹងធ្វើឱ្យប្រាកដថាអ្នកឃើញរឿងរ៉ាវល្អ ៗ នៅលើប្រធានបទទាំងនោះ");
            } else {
                $('#btn-start').hide();
                $('#title').html("ជ្រើសរើសប្រធានបទទាំងអស់ដែលអ្នកចាប់អារម្មណ៍ក្នុងការអាន");
            }

            $('#selectedTopics').empty();
            for (var i = 0; i < selectedTopics.length; i++) {
                var hidden = '<input type="hidden" name="SelectedTopics['+i+']" value="'+selectedTopics[i]+'" />';
                $('#selectedTopics').append(hidden);
            }
        }
    });
</script>