@using Microsoft.AspNet.Identity
@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
        @Scripts.Render("~/bundles/modernizr")

    </head>
    <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr/>
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    @RenderSection("scripts", required: false)
    </body>
    </html>*@

<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from wowthemesnet.github.io/template-mundana-bootstrap-html/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 14 Jan 2019 10:50:18 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicon.ico">
    <link rel="icon" type="image/png" href="assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>KhMedium</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Source+Sans+Pro:400,600,700" rel="stylesheet">
    <!-- Font Awesome Icons -->
    @* <link rel="stylesheet" href="../../use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"> *@
    <!-- Main CSS -->
    @Styles.Render("~/Content/css")
    <style>
        .affix {
            top: 20px;
            z-index: 9999 !important;
        }
        .inset {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            box-shadow:
                      inset 0 0 0 2px rgba(255,255,255,0.6), 
                      0 1px 1px rgba(0,0,0,0.1);
            background-color: transparent !important;
            z-index: 999;
            margin-top: 10px;
        }

        .inset img {
            border-radius: inherit;
            width: inherit;
            height: inherit;
            display: block;
            position: relative;
            z-index: 998;
        }
        /* Style The Dropdown Button */
        .dropbtn {
            color: white;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        /* The container <div> - needed to position the dropdown content */
        .dropdown {
            position: relative;
            display: inline-block;
            cursor: pointer;
        }

        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: white;
            min-width: 160px;
            border-width: 1px;
            border-style: solid;
            border-radius: 8px;
            border-color: rgba(0, 0, 0, 0.1);
            border-image: initial;
            box-shadow: 0px 1px 4px rgba(0,0,0,0.1);
            z-index: 1;
        }

        /* Links inside the dropdown */
        .dropdown-content a {
            color: rgba(0, 0, 0, .5);
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: white;
            color: black;
        }

        /* Show the dropdown menu on hover */
        .dropdown:hover .dropdown-content {
            display: block;
        }

        /* .btn-auth { */
        /*     color: rgb(148, 0, 211) !important; */
        /*     border: 1px solid rgb(148, 0, 211); */
        /* } */

        /* .btn-auth:hover { */
        /*     color: white; */
        /*     background-color: rgb(148, 0, 211); */
        /* }    */
        
    </style>
</head>
<body>
<!--------------------------------------
NAVBAR

    --------------------------------------->
    <nav class="topnav navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/"><strong>KhMedium</strong></a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarColor02" style="">
                <ul class="navbar-nav mr-auto d-flex align-items-center">
                    <li class="nav-item">
                        <a>@(Html.ActionLink("Business","Index", "Topics", routeValues:  new { topicId = "66ef99f4-32da-4daf-ae91-20fd7ec81b36" }, htmlAttributes: new { @class = "nav-link" }))<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a>@(Html.ActionLink("Design", "Index", "Topics", routeValues: new { topicId = "736f4fe2-331e-42e9-a857-a50828cee176" }, htmlAttributes: new { @class = "nav-link" }))</a>
                    </li>
                    <li class="nav-item">
                        <a>@(Html.ActionLink("Data Science", "Index", "Topics", routeValues: new { topicId = "a27e3807-82cb-4ca5-b877-5e07ae3c9311" }, htmlAttributes: new { @class = "nav-link" }))</a>
                    </li>
                    <li class="nav-item">
                        <a>@(Html.ActionLink("Marketing", "Index", "Topics", routeValues: new { topicId = "95c702ae-b79d-421e-9918-9a822de75c08" }, htmlAttributes: new { @class = "nav-link" }))</a>
                    </li>
                    <li class="nav-item">
                        <a>@(Html.ActionLink("Freelancing", "Index", "Topics", routeValues: new { topicId = "6341f92b-7c00-404f-aa3c-9ddefd499b4d" }, htmlAttributes: new { @class = "nav-link" }))</a>
                    </li>
                    <li class="nav-item">
                        <a>@(Html.ActionLink("Art", "Index", "Topics", routeValues: new { topicId = "6b92ef38-f1b0-4911-8199-eeeadeb25bef" }, htmlAttributes: new { @class = "nav-link" }))</a>
                    </li>
                    <li class="nav-item">
                        <a>@(Html.ActionLink("Economy", "Index", "Topics", routeValues: new { topicId = "e2cf6252-9c85-4ebd-b148-41785d4003ff" }, htmlAttributes: new { @class = "nav-link" }))</a>
                    </li>
                    <li class="nav-item">
                        <a>@(Html.ActionLink("Education", "Index", "Topics", routeValues: new { topicId = "5b6e6e77-3f16-4329-b623-0c5e4982aafb" }, htmlAttributes: new { @class = "nav-link" }))</a>
                    </li>
                </ul>
                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="nav navbar-nav navbar-right d-flex align-items-center">
                        <li>
                            <div class="dropdown">
                                <div class="inset"> 
                                    <img src="http://rs775.pbsrc.com/albums/yy35/PhoenyxStar/link-1.jpg~c200"> 
                                </div> 
                                <div class="dropdown-content">
                                    <a href="../article/create">New Story</a>
                                    <a href="../publication/index">Publication</a>
                                    <a href="#">Bookmarks</a>
                                    @Html.ActionLink("Profile", "Index", "Profile", routeValues: new { userId = User.Identity.GetUserId(), authorId = "" }, htmlAttributes:null)
                                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
                                    }
                                </div>
                                <a class="dropbtn"></a>
                            </div>
                       
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="navbar-nav ml-auto d-flex align-items-center">
                        <li class="nav-item highlight btn-sign-in">
                            @* <a class="nav-link" href="https://www.facebook.com">Sign In</a> *@
                            <a>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class="nav-link" })</a>
                        </li>
                        <li class="nav-item highlight btn-register">
                            <a>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</a>
                        </li>
                    </ul>
                }

                @* <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li> *@
                @* <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li> *@
            </div>
        </div>
    </nav>




    <!--------------------------------------
    FOOTER
    --------------------------------------->
    <div class="container mt-5">
        @RenderBody()
        

        <footer class="bg-white border-top p-3 text-muted small">
            <div class="row align-items-center justify-content-between">
                <div>
                    <span class="navbar-brand mr-2"><strong>KhMedium</strong></span> Copyright &copy;
                    <script>document.write(new Date().getFullYear())</script>
                    . All rights reserved.
                </div>
                <div>
                    Made with <a target="_blank" class="text-secondary font-weight-bold" href="https://www.wowthemes.net/mundana-free-html-bootstrap-template/">KhMedium Team</a> by RUPP YEAR 4 CLASS E1.
                </div>
            </div>
        </footer>
    </div>
    <!-- End Footer -->
    <!--------------------------------------
    JAVASCRIPTS
    --------------------------------------->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    @RenderSection("scripts", required: false)
</body>
<!-- Mirrored from wowthemesnet.github.io/template-mundana-bootstrap-html/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 14 Jan 2019 10:51:05 GMT -->
</html>

