@model IEnumerable<KhMedium.Entities.Author>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutStart.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfilePicture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeletedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publication.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProfilePicture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeletedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Publication.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>



@Html.ActionLink("Create", "Create", "Authors", new { @Class = "btn btn-info pull-right" })
<br />
<br />
<div class="box">
    <div class="box-header">
        <h3 class="box-title">List of category</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body table-responsives">

        <table id="dataTableCategory" class="table table-bordered table-striped dataTable ">
            <thead>

                <tr>
                    <th>
                       No
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bio)
                    </th>
                    <th>
                       <img src="@Html.DisplayNameFor(model => model.ProfilePicture)"/> 
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedAt)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UpdatedAt)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DeletedAt)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bio)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Publication.Name)
                    </th>
                  
                    <th style="width: 20%">Action</th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 1; i <= Model.Count(); i++)
                {
                    var category = Model.ToList()[i - 1];
                    <tr>
                        <td>@i</td>
                        <td>@category.Name</td>
                        <td>@category.Bio</td>
                        <td><img src="@category.ProfilePicture" width="20" height="20"/></td>
                        <td>@category.UserId</td>
                        <td>@category.UpdatedAt</td>
                        <td>@category.CreatedAt</td>
                        <td>@category.DeletedAt</td> 
                        <td class="text-center">
                            @Html.ActionLink("Edit", "Edits", new { id = category.Id }, new { @class = "btn btn-warning" })
                            @Html.ActionLink("Delete", "Delete", new { id = category.Id }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
    <!-- /.box-body -->
</div>

@Scripts.Render("~/bundles/jquery")
<script>
    $(document).ready(function() {
        $('#dataTableCategory').DataTable({
            "order": [[0, "asc"]]
        });
    });
</script>
