@model IEnumerable<KhMedium.Entities.Article>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutStart.cshtml";
}

@Html.ActionLink("បង្កើត", "Create", "Article", new {@Class = "btn btn-info pull-right"})
<br/>
<br/>
<div class="box">
    <div class="box-header">
        <h3 class="box-title">បញ្ជីអត្ថបទ</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body table-responsives">
        <table id="dataTableCategory" class="table table-bordered table-striped dataTable ">
            <thead>

            <tr>
                <th>
                    លេខរៀង
                </th>
                <th>
                    ចំណងជើង
                </th>
                <th>
                    ប្រធានបទ
                </th>
                <th>
                    អ្នកនិពន្ធ
                </th>
                <th style="width: 20%">សកម្មភាព</th>
            </tr>
            </thead>
            <tbody>
            @for (var i = 1; i <= Model.Count(); i++)
            {
                var article = Model.ToList()[i - 1];
                <tr>
                    <td>@i</td>
                    <td>@article.Title</td>
                    <td>@article.Topic.Name</td>
                    <td>
                        @article.Author.Name
                    </td>
                    <td class="text-center">
                        @Html.ActionLink("មើល", "Details", new {id = article.Id}, new {@class = "btn btn-info"})
                        @Html.ActionLink("កែប្រែ", "Edits", new {id = article.Id}, new {@class = "btn btn-warning"})
                        @Html.ActionLink("លុប", "Delete", new {id = article.Id}, new {@class = "btn btn-danger"})
                    </td>
                </tr>
            }
            </tbody>

        </table>
    </div>
    <!-- /.box-body -->
</div>

@Scripts.Render("~/bundles/jquery")
<script>
    $(document).ready(function() {
        $('#dataTableCategory').DataTable({
            "order": [[0, "asc"]]
        });
    });
</script>