@model KhMedium.Entities.Tag

@{
    ViewBag.Title = "title";
    Layout = "~/Areas/admin/Views/Shared/_AdminLayoutStart.cshtml";
}

<br/>
@using (Html.BeginForm("Edits", "Tags", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    {
        @Html.ValidationSummary(true)
        {
            @Html.HiddenFor(model => model.CreatedAt)
            <div class="row">
                <div class="col-sm-6">
                    <div class="box box-info">
                        <div class="box-header">
                            <h3 class="box-title">កែសម្រួលស្លាក</h3>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                @Html.Label("ឈ្មោះ")
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                            <div class="box-footer">
                                @Html.ActionLink("បោះបង់", "Index", "Tags", new { @Class = "btn btn-default" })
                                <button type="submit" class="btn btn-info pull-right">រក្សាទុក</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        }
    }
}