@model KhMedium.Models.ViewModel.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<style>
    .btn-sign-up {
        color: white;
        background-color: rgb(148, 0, 211);
    }
    input:focus {
        border-color: rgb(148, 0, 211) !important;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(148, 0, 211, .6) !important;
        outline: 0 none !important;
    }
</style>
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>ចុះឈ្មោះ </h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
       
        <label class="col-md-2 control-label"> ឈ្មោះពេញ </label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label"> អុីម៉ែល</label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label"> អំពី </label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Bio, new { @class = "form-control" })
        </div>
    </div>
  
    <div class="form-group">
        <label class="col-md-2 control-label"> លេខសម្ងាត់ </label>
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label"> ផ្ទៀងផ្ទាត់លេខសម្ងាត់ </label>
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label"> រូបភាព </label>
        <div class="col-md-10">
            @*            @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})*@
            <input type="file" name="Profile" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-sign-up" value="ចុះឈ្មោះ" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}