@model KhMedium.Models.ViewModel.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="container pt-4 pb-4">
    <div class="row">
        <div class="col-lg-6">
            <div class="card border-0 mb-4 box-shadow h-xl-300">
                <div style="background-image: url(/Content/assets/img/demo/blog4.jpg); height: 150px;    background-size: cover;    background-repeat: no-repeat;"></div>
                <div class="card-body px-0 pb-0 d-flex flex-column align-items-start">
                    <h2 class="h4 font-weight-bold">
                        <a class="text-dark" href="article.html">@(new HtmlString(Model.FeatureArticles[0].Title))</a>
                    </h2>
                    <p class="card-text">
                        @Model.FeatureArticles[0].Content
                    </p>
                    <div>
                        <small class="d-block"><a class="text-muted" href="author.html">@Model.FeatureArticles[0].Author.Name</a></small>
                        <small class="text-muted">@Model.FeatureArticles[0].CreatedAt</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            @for (var i = 1; i < Model.FeatureArticles.Count; i++)
            {
                var article = Model.FeatureArticles[i];
                <div class="flex-md-row mb-4 box-shadow h-xl-300">
                    <div class="mb-3 d-flex align-items-center">
                        <img height="80" src="~/Content/assets/img/demo/blog4.jpg">
                        <div class="pl-3">
                            <h2 class="mb-2 h6 font-weight-bold">
                                <a class="text-dark" href="article.html">@article.Title</a>
                            </h2>
                            <div class="card-text text-muted small">
                                @(new HtmlString(@article.Content))
                            </div>
                            <small class="text-muted">@article.CreatedAt</small>
                        </div>
                    </div>
                </div>
            }
            
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-between">
        <div class="col-md-8">
            <h5 class="font-weight-bold spanborder"><span>All Stories</span></h5>
            @foreach (var article in Model.AllStoriesArticles)
            {
                <div class="mb-3 d-flex justify-content-between">
                <div class="pr-3">
                    <h2 class="mb-1 h4 font-weight-bold">
                        <a class="text-dark" href="article.html">@article.Title</a>
                    </h2>
                    <p>
                        @(new HtmlString(article.Content))
                    </p>
                    <div class="card-text text-muted small">
                        @article.Author.Name
                    </div>
                    <small class="text-muted">@article.CreatedAt</small>
                </div>
                <img height="120" src="~/Content/assets/img/demo/blog8.jpg">
            </div>
            }            
        </div>
        <div class="col-md-4 pl-4">
            <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="205">
                <h5 class="font-weight-bold spanborder col-md-12"><span>Popular</span></h5>
                <ol class="list-featured">
                    @foreach (var article in Model.PopularArticles)
                    {
                        <li>
                            <span>
                                <h6 class="font-weight-bold">
                                    <a href="article.html" class="text-dark">@article.Title</a>
                                </h6>
                                <p class="text-muted">
                                    @article.Author.Name
                                </p>
                            </span>
                        </li>
                    }
                    

                    @* <li> *@
                    @*     <span> *@
                    @*         <h6 class="font-weight-bold"> *@
                    @*             <a href="article.html" class="text-dark">Unprecedented Views of the Birth of Planets</a> *@
                    @*         </h6> *@
                    @*         <p class="text-muted"> *@
                    @*             Jake Bittle in SCIENCE *@
                    @*         </p> *@
                    @*     </span> *@
                    @* </li> *@
                    @* <li> *@
                    @*     <span> *@
                    @*         <h6 class="font-weight-bold"> *@
                    @*             <a href="article.html" class="text-dark">Effective New Target for Mood-Boosting Brain Stimulation Found</a> *@
                    @*         </h6> *@
                    @*         <p class="text-muted"> *@
                    @*             Jake Bittle in SCIENCE *@
                    @*         </p> *@
                    @*     </span> *@
                    @* </li> *@
                </ol>
            </ul>
        </div>
    </div>
</div>