@using KhMedium.Data
@using KhMedium.Utils
@model KhMedium.Models.ViewModel.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

<style>
    .article-content {
        overflow: hidden!important;
        max-height: 50px!important;
        text-overflow: ellipsis!important;
        display: -webkit-box!important;
        -webkit-line-clamp: 2!important;
        -webkit-box-orient: vertical;
        font-weight: 400 !important;
    }
</style>

<div class="container pt-4 pb-4">
    <div class="row">
        <div class="col-lg-6">
        @if (Model.FeatureArticles.Any())
        {
            <div class="card border-0 mb-4 box-shadow h-xl-300">
                <div style="background-image: url(@StringUtils.GetArticleThumbnailPath(Model.FeatureArticles[0].Thumbnail)); height: 150px; background-size: cover; background-repeat: no-repeat;">
                    @* @Html.ActionLink("123", "Index", "ArticleDetail", routeValues: new { topicId = "123" }, htmlAttributes: new { @class = "nav-link" }) *@
                </div>
                <div class="card-body px-0 pb-0 d-flex flex-column align-items-start">

                    <h2 class="h4 font-weight-bold">
                        @Html.ActionLink(Model.FeatureArticles[0].Title, "Index", "ArticleDetail", routeValues: new { id = Model.FeatureArticles[0].Id }, htmlAttributes: new { @class = "text-dark" })
                        @* <a class="text-dark" href="article.html">@(new HtmlString(Model.FeatureArticles[0].Title))</a> *@
                    </h2>
                    <p class="card-text">
                        @(new HtmlString(@Model.FeatureArticles[0].Content))
                    </p>
                    <div>
                        <small class="d-block">
                            <a class="text-muted" href="#">@Model.FeatureArticles[0].Author.Name</a>
                        </small>
                        <small class="text-muted">@Model.FeatureArticles[0].CreatedAt</small>
                    </div>


                </div>
            </div>
        }

        </div>
        <div class="col-lg-6">
            @for (var i = 1; i < Model.FeatureArticles.Count; i++)
            {
                var article = Model.FeatureArticles[i];
                <div class="flex-md-row mb-4 box-shadow">
                    <div class="mb-3 d-flex align-items-center">
                        <img height="80" src="@StringUtils.GetArticleThumbnailPath(article.Thumbnail)">
                        <div class="pl-3">
                            <h2 class="mb-2 h6 font-weight-bold">
                                <a class="text-dark" href="article.html">@article.Title</a>
                            </h2>
                            <div class="card-text text-muted small">
                                @(new HtmlString(@article.Content))
                            </div>
                            <small class="text-muted">@article.CreatedAt</small>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-between">
        <div class="col-md-8">
            <h5 class="font-weight-bold spanborder">
                <span>All Stories</span>
            </h5>
            @foreach (var article in Model.AllStoriesArticles)
            {
                <div class="mb-3 d-flex justify-content-between" style="margin-bottom: 2rem !important">
                    <div class="col-md-9">
                        <h2 class="col-md-12 mb-1 h4 font-weight-bold">
                            <a>@Html.ActionLink(article.Title, "Index", "ArticleDetail", routeValues: new { id = article.Id }, htmlAttributes: new { @class = "text-dark" })</a>
                        </h2>
                        <div class="col-md-12 article-content">
                            @(new HtmlString(article.Content))
                        </div>
                        @* <div class="col-md-12" style="position: absolute; bottom: 0"> *@
                        <div class="col-md-12" style="margin-top: 30px;">
                            <div class="card-text text-muted small">
                                @article.Author.Name
                            </div>
                            <small class="text-muted">@article.CreatedAt</small>
                            <span style="float: right; cursor: pointer;">
                                @if (article.IsBookmarked())
                                {
                                    <img id="@article.Id" class="bookmark" width="20" height="20" src="~/Content/assets/img/bookmarked.png" />
                                }
                                else
                                {
                                    <img id="@article.Id" class="bookmark" width="20" height="20" src="~/Content/assets/img/unbookmark.png" />
                                }
                            </span>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <img style="height: 160px" src="@StringUtils.GetArticleThumbnailPath(article.Thumbnail)">
                        @* <img style="height: 150px" src=""> *@
                    </div>

                </div>
            }
        </div>
        <div class="col-md-4 pl-4">
            <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="205">
                <h5 class="font-weight-bold spanborder col-md-12">
                    <span>Popular</span>
                </h5>
                <ol class="list-featured">
                    @foreach (var article in Model.PopularArticles)
                    {
                        <li>
                            <span>
                                <h6 class="font-weight-bold">
                                    <a href="article.html" class="text-dark">@article.Title</a>
                                </h6>
                                <p class="text-muted">
                                    @article.Author.Name
                                </p>
                            </span>
                        </li>
                    }


                    @* <li> *@
                    @*     <span> *@
                    @*         <h6 class="font-weight-bold"> *@
                    @*             <a href="article.html" class="text-dark">Unprecedented Views of the Birth of Planets</a> *@
                    @*         </h6> *@
                    @*         <p class="text-muted"> *@
                    @*             Jake Bittle in SCIENCE *@
                    @*         </p> *@
                    @*     </span> *@
                    @* </li> *@
                    @* <li> *@
                    @*     <span> *@
                    @*         <h6 class="font-weight-bold"> *@
                    @*             <a href="article.html" class="text-dark">Effective New Target for Mood-Boosting Brain Stimulation Found</a> *@
                    @*         </h6> *@
                    @*         <p class="text-muted"> *@
                    @*             Jake Bittle in SCIENCE *@
                    @*         </p> *@
                    @*     </span> *@
                    @* </li> *@
                </ol>
            </ul>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
<script>
    $(document).ready(function() {
        $('.bookmark').click(function() {
            var articleId = $(this)[0].id;
            var imageTag = $(this);
            $.ajax({
                type: "POST",
                url: "@Url.Action("ToggleBookmark", "Api")",
                data: JSON.stringify({
                    "articleId": articleId
                }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
//                    $(imageTag).attr('src', 'Content/assets/img/bookmarked.png');
                    if (response.result) {
                        $(imageTag).attr('src', 'Content/assets/img/bookmarked.png');
                    }
                    else {
                        $(imageTag).attr('src', 'Content/assets/img/unbookmark.png');
                    }
                },
                failure: function(response) {
                    console.log("Failure " + response);
                },
                error: function(response) {
                    console.log("Error " + response.message);
                }
            });
        });
    });
</script>